**
!.gitignore
!fdf/
!fdf/author
!fdf/Makefile

!fdf/eval_tests
!fdf/eval_tests/*.test
!fdf/eval_tests/*.fdf

!fdf/src
!fdf/src/*.c

!fdf/include/
!fdf/include/*.h

!libft
!libft/ft_*.c
!libft/libft.h
!libft/Makefile
